.form {
  margin-top: 100px;
  width: 50%;
}
.heading {
  margin-bottom: 30px;
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
}
.btn {
  margin-top: 20px;
}
.answerTypes {
  background-color: blanchedalmond;
  margin-top: 10px;
  padding: 5px;
  vertical-align: middle;
}
.addButton {
  float: right;
  margin-top: 20px;
}
.listStyle {
  list-style: none;
}
